* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
}

h2 {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}

a {
  color: #707070;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

a:hover {
  color: #306EF7;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

button {
  cursor: pointer;
  padding: 0;
  background: #306EF7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

button:hover {
  background: #32549e;
  -webkit-box-shadow: 0px 0px 25px #306EF7;
          box-shadow: 0px 0px 25px #306EF7;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.nav__bar {
  margin: 0 45px;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 79px;
}

.nav__bar .main_nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__bar .main_nav .nav__list .list__item {
  position: relative;
  margin-right: 38px;
}

.nav__bar .main_nav .nav__list .list__item:hover > .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1.3s;
  transition: all ease 1.3s;
}

.nav__bar .main_nav .nav__list .list__item:last-child {
  margin-right: 0;
}

.nav__bar .main_nav .nav__list .list__item .submenu {
  position: absolute;
  display: none;
  padding-top: 10px;
}

.nav__bar .main_nav .nav__list .list__item .submenu li {
  display: block;
  padding: 10px 20px 10px 20px;
  margin: 5px 0;
  border-right: 1px solid #306EF7;
}

.nav__bar .main_nav .nav__list .list__item .submenu li:last-child {
  border: none;
}

.nav__bar .registration__box .login__btn {
  background: none;
  margin-right: 24px;
  color: #707070;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.nav__bar .registration__box .login__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.nav__bar .registration__box .sign__btn {
  padding: 12px 22px;
}

.mission {
  padding: 0 335px;
  text-align: center;
  margin-bottom: 185px;
}

.mission .mission__head {
  margin-bottom: 150px;
  padding: 0 200px;
}

.mission .mission__head p {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.mission .mission__head .mission__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}

.mission .mission__head .mission__subtitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #306EF7;
}

.mission .mission__descr {
  text-align: left;
  padding-left: 90px;
  padding-right: 15px;
  padding-bottom: 55px;
  border-bottom: 1px solid #707070;
  margin-bottom: 190px;
}

.mission .mission__descr p {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.team {
  margin-bottom: 190px;
}

.team .team__head {
  text-align: center;
  margin-bottom: 60px;
}

.team .team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.team .team__items .profile__img {
  margin-bottom: 20px;
}

.team .team__items .team__item_name {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

.team .team__items .team__item_spec {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #7F7F7F;
  margin-bottom: 20px;
}

.team .team__items .team__item_social a {
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

.team .team__items .team__item_social a:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #306EF7;
}

.team .team__items .team__item_social a::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/Arrow_social.png") no-repeat;
  right: 0;
  top: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.started__info {
  text-align: center;
  margin-bottom: 188px;
}

.started__title {
  font-weight: 700;
  font-size: 112px;
  line-height: 128px;
}

.started__subtitle {
  margin: 0 auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  max-width: 690px;
  margin-bottom: 50px;
}

.started__btn {
  margin-right: 26px;
  padding: 24px 74px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.started__btn_demo {
  padding: 24px 74px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  background: none;
  border: 1px solid #707070;
  color: #707070;
}

.started__btn_demo:hover {
  background: none;
  -webkit-box-shadow: 0px 0px 25px #fff;
          box-shadow: 0px 0px 25px #fff;
  border: 1px solid #fff;
  color: #fff;
}

.started__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  font-size: 25px;
  line-height: 38px;
  color: #707070;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.started__promo .light_round {
  width: 20px;
  height: 20px;
  background-color: #0FC65C;
  border-radius: 25px;
  margin-right: 18px;
  -webkit-box-shadow: 0 0 0px 8px #0fc65b6d;
          box-shadow: 0 0 0px 8px #0fc65b6d;
}

.started__promo span {
  padding-right: 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

.footer {
  margin-bottom: 96px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner {
  text-align: center;
  margin-bottom: 184px;
}

.footer__inner .logo__main {
  margin-bottom: 20px;
}

.footer__inner .footer__btn {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  padding: 28px 112px;
  border-radius: 15px;
}

.footer__email {
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  color: #707070;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.footer__email:hover {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  color: #306EF7;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__list li {
  margin-left: 46px;
}

.footer__list li a {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
/*# sourceMappingURL=about.css.map */