*{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
}

$accent: #306EF7;
$second: #707070;
$hoverbtn: #32549e;

body{
    background-color: #000;
}

h2 {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
}
a {
    color: $second;
    text-decoration: none;
    display: inline-block;
    transition: all ease .3s;
    &:hover{
        color: $accent;
        transition: all ease .3s;
    }
}

button {
    cursor: pointer;
    padding: 0;
    background: $accent;
    border: none;
    border-radius: 5px;
    color:#fff;
    font-weight: 500;
    font-size: 20px;
    transition: all ease .3s;
    &:hover {
        background: $hoverbtn;
        box-shadow: 0px 0px 25px $accent;
}


    
}
.container{
    max-width: 1640px;
    margin: 0 auto;
}

.nav__bar {
    margin: 0 45px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
    .main_nav{
        .nav__list {
            display: flex;
            .list__item {
                position: relative;
                margin-right: 38px;
                
                &:hover > .submenu{
                    display: flex;
                    transition: all ease 1.3s;
                }
                
                &:last-child{
                    margin-right: 0;
                }
                .submenu{
                    position: absolute;
                    display: none;
                    padding-top: 10px;
                    li{
                        display: block;
                        padding: 10px 20px 10px 20px;
                        margin: 5px 0;
                        border-right: 1px solid $accent;
                        &:last-child{
                            border: none;
                        }
                    }
                }

            }
        }
    }
    .registration__box{
        .login__btn{
            background: none;
            margin-right: 24px;
            color: $second;
            transition: all ease .3s;
            &:hover {
                box-shadow: none;
                color:#fff;
                transition: all ease .3s;
            }
        }
        .sign__btn {
            padding: 12px 22px;
        }
    }
}

.signup {
    text-align: center;
    padding: 0 260px;
    .alternative__title {
        display: block;
        font-weight: 600;
        font-size: 54px;
        line-height: 81px;
    }
    .alternative__subtitle {
        display: block;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 46px;
    }
    
}

.signup__title {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
}
.signup__subtitle {
    font-size: 24px;
    line-height: 36px;
}
.signup__form {
    margin-bottom: 65px;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    input {
        background: none;
        border: none;
        outline: none;
        display: block;
        width: 488px;
        height: 85px;
        border-bottom : solid 1px $second;
        margin: 0 20px;
        margin-bottom: 82px;    
        padding-right: 100px;  
        text-overflow: ellipsis;   
        transition: .3s ease;
        &:hover {
            transition: .3s ease;
            border-bottom : solid 1px $accent;
        }   
        &:focus {
            border-bottom : solid 1px #fff;
        }
        

        &:nth-child(2) {
            margin-right: 0;
        }
        
        &::placeholder{
            color: #fff;
            font-size: 23px;
            line-height: 34px;
            text-indent: 0px; 
            transition: text-indent 0.3s ease;


            
        }
        &:focus::placeholder {
            text-indent: 500px; 
            transition: text-indent 0.3s ease;
        }
    }
    .signup__btn {
        padding: 23px 115px;
        width: 488px;
        height: 85px;
    }

}

.signup__social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .signup__social_btn {
        position: relative;
        width: 454px;
        height: 76px;
        margin: 0 15px;
        // padding: 21px 104px 21px 156px;
        padding-left: 55px;
        background: none;
        border: solid 2px #fff;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 70px;
        &:hover {
            box-shadow: 0px 0px 15px #fff;
            background-color: rgba(255, 255, 255, 0.15);
        }
        &:first-child:before {
            position: absolute;
            display: block;
            content: '';
            width: 35px;
            height: 35px;
            background: url('../img/Facebook.png') no-repeat;
            left: 83px;
        }
        &:nth-child(2):before {
            position: absolute;
            display: block;
            content: '';
            width: 35px;
            height: 35px;
            background: url('../img/G_logo.png') no-repeat;
            left: 96px;
        }
        &:last-child:before {
            position: absolute;
            display: block;
            content: '';
            width: 35px;
            height: 40px;
            background: url('../img/Apple_logo.png') no-repeat;
            left: 103px;
        }
    }
}

.signup__login {
    margin-bottom: 75px;
    color: #fff;
}