*{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
}

$accent: #306EF7;
$second: #707070;
$hoverbtn: #32549e;

body{
    background-color: #000;
}

h2 {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
}
a {
    color: $second;
    text-decoration: none;
    display: inline-block;
    transition: all ease .3s;
    &:hover{
        color: $accent;
        transition: all ease .3s;
    }
}

button {
    cursor: pointer;
    padding: 0;
    background: $accent;
    border: none;
    border-radius: 5px;
    color:#fff;
    font-weight: 500;
    font-size: 20px;
    transition: all ease .3s;
    &:hover {
        background: $hoverbtn;
        box-shadow: 0px 0px 25px $accent;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}


    
}
.container{
    max-width: 1640px;
    margin: 0 auto;
}
.nav__bar {
    margin: 0 45px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
    .main_nav{
        .nav__list {
            display: flex;
            .list__item {
                position: relative;
                margin-right: 38px;
                
                &:hover > .submenu{
                    display: flex;
                    transition: all ease 1.3s;
                }
                
                &:last-child{
                    margin-right: 0;
                }
                .submenu{
                    position: absolute;
                    display: none;
                    padding-top: 10px;
                    li{
                        display: block;
                        padding: 10px 20px 10px 20px;
                        margin: 5px 0;
                        border-right: 1px solid $accent;
                        &:last-child{
                            border: none;
                        }
                    }
                }

            }
        }
    }
    .registration__box{
        .login__btn{
            background: none;
            margin-right: 24px;
            color: $second;
            transition: all ease .3s;
            &:hover {
                box-shadow: none;
                color:#fff;
                transition: all ease .3s;
            }
        }
        .sign__btn {
            padding: 12px 22px;
        }
    }
}

span {
    display: block;
}

.price__title {
    text-align: center;
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
    margin-bottom: 123px;
}
.pricing__box {
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
    .pricing__item {
        width: 496px;
        background: #131313;
        border: 1px solid $second;
        border-radius: 25px;
        padding: 30px;
        transition: .3s ease;
        position: relative;
        // &:hover {
        //     transition: .3s ease;
        //     background: #fff;
        //     color: #000 !important;
        // }

        &:nth-child(2)::after {
            content: 'or $19/mo, billed monthly';
            display: block;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
            text-decoration-line: underline;
            color: #B4B1B1;
            position: absolute;
            top: 250px;

        }
        &:nth-child(3)::after {
            content: 'or $34/mo, billed monthly';
            display: block;
            font-weight: 400;
            font-size: 28px;
            line-height: 42px;
            text-decoration-line: underline;
            color: #B4B1B1;
            position: absolute;
            top: 250px;

        }
        .title {
            font-weight: 600;
            font-size: 50px;
            line-height: 75px;
        }
        .subtitle {
            font-size: 28px;
            line-height: 42px;
            color: #b4b1b1;
            margin-bottom: 14px;
        }
        .price {
            font-weight: 700;
            font-size: 69px;
            line-height: 104px;
            margin-bottom: 108px;
            display: flex;
            align-items: baseline;

        }
        .sub {
            font-weight: 700;
            font-size: 27px;
            line-height: 40px;
            margin-bottom: 10px;
        }
        .counter {
            font-size: 28px;
            line-height: 42px;
            margin-bottom: 45px;
        }
        .descr {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #b4b1b1;
            margin-bottom: 50px;
        }
        .benefits {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            margin-bottom: 28px;
        }
        .list {
            list-style: none;
            margin-bottom: 80px;
            li {
                margin-bottom: 20px;
            }
        }
        .item__btn {
            width: 428px;
            height: 105px;
            background: none;
            border: solid 4px $accent;
            border-radius: 15px;
            &:hover{
                color: #000;
                background: #fff;
            }
        }
    }
}
.price__descr {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #B4B1B1;
}

.started__info {
    text-align: center;
    margin-bottom: 188px;

}

.started__title {
    font-weight: 700;
    font-size: 112px;
    line-height: 128px;
    }
    p {
        font-weight: 700;
        font-size: 112px;
        line-height: 128px;
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
        margin-bottom: 136px;
    }

    .started__subtitle {
        margin: 0 auto;
        // display: block;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        max-width: 690px;
        margin-bottom: 50px;
    }
    .started__btn{
        margin-right: 26px;
        padding: 24px 74px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    .started__btn_demo{
        padding: 24px 74px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        background: none;
        border: 1px solid $second;
        color: $second;
        &:hover{
            background: none;
            box-shadow: 0px 0px 25px #fff;
            border: 1px solid #fff;
            color: #fff;
        }

    }
    .started__promo {
        display: flex;
        margin-top: 22px;
        font-size: 25px;
        line-height: 38px;
        color: $second;
        align-items: center;
        justify-content: center;

        .light_round{
            width: 20px;
            height: 20px;
            background-color: #0FC65C;
            border-radius: 25px;
            margin-right: 18px;
            box-shadow: 0 0 0px 8px #0fc65b6d;
        }

        span {
            padding-right: 10px;
            font-weight: 700;
            font-size: 25px;
            line-height: 38px;
        }
    }

.footer {
    margin-bottom: 96px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner {
    text-align: center;
    margin-bottom: 184px;
    .logo__main{
        margin-bottom: 20px;
    }
    .footer__btn {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        padding: 28px 112px;
        border-radius: 15px;
    }

}
        .footer__email {
            font-weight: 400;
            font-size: 27px;
            line-height: 40px;
            color: $second;
            transition: all ease .3s;
            &:hover {
                transition: all ease .3s;
                color: $accent;
            }
        }
    .footer__list {
        display: flex;
        list-style: none;
        li {
            margin-left: 46px;
            a{
                font-weight: 500;
                font-size: 28px;
                line-height: 42px;
            }
        }
    }
